$footer-height: 300px; //=300+paddingTop
$footer-padding-top: 20px;
.footer {
  padding-top: $footer-padding-top;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: $gray-400;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height+$footer-padding-top;
  .heading-underline {
    width: "60px";
    background-color: $black;
    height: 2px;
  }
  ul {
    padding-left: 0;
  }
  .tech-used {
    list-style: none;
  }

  div[class*="col-"] {
    height: 100%;
  }

  a {
    color: $black;
  }
}

.push {
  height: $footer-height;
}
