.tickerInfo {
  margin: 90px 0;

  & table, th, td {
    border-bottom: 1px solid $light-border-gray;
    border-collapse: collapse;
  }

  & table {
    min-width: 300px;
    width: 100%;
  }

  & .basicInfo {
    & .small-subtitle {
      color: rgba($color: $light-text-gray, $alpha: 0.8);
      font-style: italic;
    }
  }

  & .fieldValue {
    font-weight: bold;
    text-align: right;
  }
  
}