// import
@import "./styles/custom";
@import "./styles/tickerInfo";
@import "./styles/header";
@import "./styles/stockChart";
@import "./styles/loadSpinner";

// reset styles
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.errorContainer{
  color: $main-red;
}